@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

@import "bootstrap/variables.scss";
@import "header";

// ADJUST NAVBAR ########################################

.navbar {
  border-radius: 0px;
  background-color: #342c2c;
  border-color:  #a87003;
  border-bottom-width: 2px;
  margin: 0;
  min-height: 56px;
  a {
    color: #d9d7d7;
  }
  .avatar {
    border-radius: 50%;
    margin-left: 1em;

  }
}

.navbar-inverse {
  a.navbar-brand {
    font-size: 30px;
    line-height: 1em;
    color: #eee;
    font-family: "Cabin Condensed";
    padding: 13px 13px 12px;;
  }
  .navbar-nav {
    & > li {
      & > a {
        line-height: 54px;
        padding-top: 0px;
        padding-bottom: 0px;

        &.btn-social {
          border-radius: 10px;
          padding: 4px 7px 3px;
          margin: 8px 12px 0;
          line-height: 32px;
          background: #654303;

        }
      }

    }
    & > .open {
      & > a, & > a:hover, & > a:focus {
        background-color: #474036;
        color: #fff;
      }
    }
  }
}
// ADJUST topo ########################################

.masthead {
  .slogan {
    color: #a87003;
    float: right;
  }
}

.page-header {
  padding: 0px;
  margin: 0px;
  color: #342c2c;
}

a {
  color:  #a87003;
}
a:hover, a:focus {
  color:  #6b4702;
}

// ADJUST lateral direita ########################################

.atFacebookPortLet {
  opacity: 0.45;
  &:hover {
    opacity: 1;
  }

}

// ADJUST DRUNKEN PARROT STYLES ########################################
h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 24px;
}
h3, .h3 {
  font-size: 20px;
}
h4, .h4 {
  font-size: 16px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 12px;
}


// #### footer ###########################################
// based on http://getbootstrap.com/examples/sticky-footer

$footer-height : 50px;
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height + 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background: #342c2c none repeat scroll 0% 0%;
  color: white;
  text-align: center;
}

// #### pagination ########################################
.pagination {
  padding-top: 25px;
}
