@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

@import "bootstrap/variables.scss";
@import "header";

$musicat_topo_color_bg: #342c2c;
$musicat_topo_color_border: #a87003;
$musicat_topo_color_text: #d9d7d7;


// ADJUST NAVBAR ########################################

.navbar {
  border-radius: 0px;
  background-color: $musicat_topo_color_bg;
  border-color: $musicat_topo_color_border;
  border-bottom-width: 2px;
  margin: 0;
  min-height: 56px;
  a {
    color: $musicat_topo_color_text;
  }
  .avatar {
    border-radius: 50%;
    margin-left: 1em;

  }
}

.navbar-inverse {
  a.navbar-brand {
    font-size: 30px;
    line-height: 1em;
    color: lighten($musicat_topo_color_text, 5%);
    font-family: "Cabin Condensed";
    padding: 13px 13px 12px;;
  }
  .navbar-nav {
    & > li {
      & > a {
        line-height: 54px;
        padding-top: 0px;
        padding-bottom: 0px;

        &.btn-social {
          border-radius: 10px;
          padding: 4px 7px 3px;
          margin: 8px 12px 0;
          line-height: 32px;
          background: transparentize($musicat_topo_color_border, 0.8);

        }
      }

    }
    & > .open {
      & > a, & > a:hover, & > a:focus {
        background-color: lighten($musicat_topo_color_bg, 5%);
        color: #fff;
      }
    }
  }
  .nav-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .nav {
      flex: 0 0 auto;
    }
    .navbar-form {
      flex: 1 0 auto;
      padding: 0px;
      .form-group {
        width: 100%;
        .form-control {
          width: 100%;
          border-radius: 0;
          border: 0px;
          background-color: lighten($musicat_topo_color_bg, 5%);
          color: $musicat_topo_color_text;
        }
      }
    }
  }
}
// ADJUST topo ########################################

.masthead {
  margin-top: 60px;
  .slogan {
    color: $musicat_topo_color_border;
    float: right;
  }
}

.page-header {
  padding: 0px;
  margin: 0px;
  color: $musicat_topo_color_bg;
}

a {
  color: $musicat_topo_color_border;
}
a:hover, a:focus {
  color: darken($musicat_topo_color_border, 20%);
}


// ADJUST lateral direita ########################################

.atFacebookPortLet {
  opacity: 0.45;
  &:hover {
    opacity: 1;
  }

}


// ADJUST interno ########################################

.container-cifra {
  font-family: monospace;
  line-height: 1em;
  font-size: 1em;
  .lc {
    color: red;
    font-weight: bold;
    padding-top: 0.5em;
  }
  .lt {
    min-height: 1em;
    &.refrao {
      font-weight: bold;
    }
  }
}


// ADJUST DRUNKEN PARROT STYLES ########################################

.btn-primary {
  background-color: lighten($musicat_topo_color_border, 30%);
  &:hover {
      background-color: lighten($musicat_topo_color_border, 15%);
      border-color: lighten($musicat_topo_color_border, 15%);
  }
}

h1, .h1 {
  font-size: 30px;
}
h2, .h2 {
  font-size: 24px;
}
h3, .h3 {
  font-size: 20px;
}
h4, .h4 {
  font-size: 16px;
}
h5, .h5 {
  font-size: 14px;
}
h6, .h6 {
  font-size: 12px;
}


// #### footer ###########################################
// based on http://getbootstrap.com/examples/sticky-footer

$footer-height : 30px;
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height + 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
  background: #342c2c none repeat scroll 0% 0%;
  color: white;
  text-align: center;
}

// #### pagination ########################################
.pagination {
  padding-top: 25px;
}



@media screen and (max-width: 767px) {


  .navbar-inverse {
    .nav-flex {
      display: block;
    }
  }
}
